/* --- Font : Sora ---*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap");

/* --- Custom variables ---*/
:root {
  /*  --- Fonts  ---*/
  --font-sora: "Sora", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* --- Colors --- */
  --color-primary: #844cbb;
  --color-secondary: #6c76ff;
  --color-semidark: #424242;
  --color-bg: #f3f2ff;
  --color-gray: #bababa;
}
/*  --- Resets --- */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--font-sora);
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  min-width: 360px;
  max-width: 720px;
}
/* ---  Navbar  ---*/
#nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-semidark);
}
#brand {
  font-size: 1.35rem;
  font-weight: var(--font-bold);
  color: white;
  padding-left: 15px;
  padding-top: 2.5%;
  text-transform: uppercase;
}

/* --- Collapsible menu icon */
#collapse_bar {
  padding: 4px;
  border: 2px solid white;
  border-radius: 5px;
}

#collapse_bar div {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}
#collapse_bar div:nth-child(1),
#collapse_bar div:nth-child(2) {
  margin-bottom: 4px;
}

/* --- Navigation Menu */
#navigation {
  padding-right: 15px;
  padding-top: 2.5%;
}
#navigation ul {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  border: 3px solid var(--color-secondary);
  background-color: var(--color-semidark);
  /* transition: all 1s linear; */
}
#navigation ul li {
  width: fit-content;
  padding-top: 53px;
  margin-left: 50%;
  transform: translate(-50%);
}
#navigation ul li a {
  color: white;
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--color-primary);
}

/* --- Fixed contact button --- */
.contact {
  position: fixed;
  bottom: 40px;
  right: 15px;
}
.btn-contact {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: var(--font-semibold);
  background-color: var(--color-secondary);
}
.contact_body {
  width: 170px;
  height: 200px;
  margin-bottom: 35px;
  /* display: none; */
  border-radius: 10px;
  background-color: var(--color-primary);
}
.contact_body a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
}
.contact_body a div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-top: 2px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #fff;
}
.contact_body a p {
  padding: 5px 15px;
  margin-left: 3px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: var(--font-semibold);
  background-color: #fff;
}

/* --- Fixed links */
.socials {
  position: fixed;
  bottom: 20px;
  left: 10px;
  padding: 10px 10px 5px;
  background: rgba(255, 255, 255, 0.025);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
.socials img {
  width: 35px;
}
.socials img:nth-child(2) {
  margin: 0px 10px;
}

/*  --- Header section */
#header {
  width: 100%;
  margin-top: 40px;
  background-image: url(../res/images/bg-1-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  text-align: center;
}

/* --- Tag line */
#tag_line p {
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
}
#tag_line span {
  color: var(--color-primary);
}

/* --- Text editor */
#text_editor_animation {
  position: relative;
}
#text_editor_animation img {
  width: 95%;
  height: 290px;
  margin: 30px 0% 5px;
}
#code_animation {
  position: absolute;
  top: 65px;
  left: 35px;
  display: flex;
}
#code_animation div:nth-child(1) {
  display: flex;
  flex-direction: column;
}
#code_animation span {
  padding-top: 5px;
}

/*--- code ---  */
#code {
  text-align: start;
  font-size: 0.85rem;
  padding-top: 5px;
  padding-left: 5px;
}
.c-red {
  color: red;
}
.c-purle {
  color: var(--color-primary);
}
#code .break {
  padding-top: 8px;
}
/* --- Boy coding animation */
#boy_coding_animation {
  position: relative;
  /* width: 371px; */
  width: 80vw;
  margin: 0 auto;
}
#boy_coding_animation img {
  /* width: 371px; */
  width: 80vw;
  margin: 5px;
}
#boy_coding_animation img:nth-child(2) {
  position: absolute;
  top: 70px;
  left: 0px;
  /* width: 160px; */
  width: 32vw;
  margin-left: 25vw;
}

/* --- Downside arrows */
#arrow_downside {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#arrow_downside img {
  width: 25px;
  margin: 2px auto;
}

/* --- Skills section */
#skills {
  margin-top: 20px;
}

/* --- Section tilte : skills */
#skills__title {
  text-align: center;
  margin-bottom: 15px;
  color: var(--color-primary);
}
.line_right {
  width: 70px;
  margin-top: -10px;
  margin-left: 10px;
}
.line_right_arrow {
  margin-left: -18px;
}

/* --- Section body : skills --- */
#skills__body {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  background-color: #d1d1d11c;
  box-shadow: 0 0 20px 1px rgba(57, 62, 139, 0.24);
}
.skills_item {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 10px 10px;
  background-color: #bababa52;
}
.skills_item img {
  margin-right: 10px;
}

/*  --- Project section */
#projects {
  height: fit-content;
  margin-top: 40px;
  background-image: url(../res/images/bg-2-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
/* --- Section title : Projects */
#projects__title {
  text-align: center;
  padding-top: 35px;
  color: var(--color-primary);
}

#projects__title .underline {
  padding-right: 80px;
}
#line_left {
  width: 100px;
  margin-top: -8px;
}
#line_left_arrow {
  margin-left: -119px;
}

/* --- Secton body : Projects */
#filter {
  display: flex;
  position: relative;
  align-items: center;
  width: fit-content;
  padding: 7px 10px;
  margin-left: 75vw;
  margin-right: 7vw;
  border-radius: 15px;
  background-color: #fff;
  border: 1.5px solid rgba(0, 0, 0, 0.158);
}
#filter p {
  color: #626262;
}
#filter img {
  width: 15px;
  height: 10px;
  margin-left: 5px;
}
#filter_body {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 40px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.507);
  display: none;
}
#filter_body ul li {
  font-size: 1.25rem;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 5px;
  white-space: nowrap;
}
/* --- project items */
#project_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body {
  width: 350px;
  height: 230px;
  background-color: #fff;
  margin: 15px;
  border-radius: 8px;
}

.browser_dots {
  margin-left: 5px;
}
.name {
  text-align: end;
  margin-top: -10px;
  margin-right: 20px;
  font-weight: var(--font-semibold);
  font-size: 1.25rem;
}

.options {
  float: right;
  display: flex;
  margin-top: 155px;
  margin-right: 10px;
  font-size: 1.15rem;
}
.see_live {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.see_live img {
  margin-right: 5px;
}
.see_live p {
  color: white;
}
.see_code {
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--color-primary);
}
.tags {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}
.tags div {
  width: fit-content;
  height: 30px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  color: #3e3c55c7;
  background-color: #bababa42;
  border-radius: 5px;
  text-transform: uppercase;
}
.tags div:empty {
  display: none;
}

/* --- See more ---- */
#see_more {
  text-align: end;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 1.25rem;
  color: var(--color-primary);
  font-weight: var(--font-semibold);
  text-decoration: underline;
}

/* --- About section ---*/
#about {
  margin-top: 60px;
}
#about__title {
  text-align: center;
  color: var(--color-primary);
}
#about__title .line_right {
  width: 80px;
}

/* --- About body */
#about_body {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-template-areas:
    "img name name name name name"
    "details details details details details details";
}
#author_img {
  grid-area: img;
  margin: 20px 20px;
}
.author_photo {
  width: 90px;
}
#author_name {
  grid-area: name;
  text-align: start;
}
#author_name h2 {
  color: #844cbb;
  font-size: 1.75rem;
  margin-bottom: 5px;
  font-weight: var(--font-bold);
}
#author_name h3 {
  color: #69696a;
  font-size: 0.95rem;
  font-weight: var(--font-semibold);
}
#author_details {
  width: 90%;
  grid-area: details;
  text-align: start;
  margin-left: 20px;
  color: #565656;
  font-weight: var(--font-light);
}
#author_footer {
  display: flex;
  justify-content: space-between;
}
#author_footer .socials {
  position: static;
  margin-top: 10px;
  padding: 10px 10px 5px;
  border-radius: 10px;
  box-shadow: none;
}

#author_details .contact {
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
}
#author_details .contact .contact_body {
  display: none;
  position: absolute;
  top: -205px;
  left: 2px;
  width: 170px;
  height: 200px;
}
#author_details .contact_body a {
  padding-left: 10px;
}
#author_details .contact_body a p {
  font-size: 1.25rem;
  padding: 5px 15px;
}
#author_details .btn-contact {
  position: static;
  width: fit-content;
}

#author_details .contact_body {
  width: 125px;
  height: 210px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

#contact {
  background-image: url(../res/images/bg-3-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

#contact__title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 90px;
  color: var(--color-primary);
}

#contact__title .underline {
  padding-right: 122px;
}
#line_left {
  width: 145px;
  margin-top: -8px;
}
#line_left_arrow {
  margin-left: -162px;
}

#contact #form {
  width: 85%;
  margin: 0 auto;
  padding: 30px 10px;
  border-radius: 10px;
  background-color: #a54cbb4f;
}
#contact input {
  display: block;
  width: 95%;
  height: 50px;
  margin-top: 15px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 1rem;
  box-shadow: inset 3px 3px 5px #949494, inset -5px -5px 9px #fbfbfb;
}
#contact input[type="submit"] {
  width: fit-content;
  margin-left: auto;
  padding: 0px 15px;
  font-size: 1.5rem;
  box-shadow: none;
  color: white;
  background-color: var(--color-primary);
}

.list_arrow {
  transform: rotate(273deg);
}

#contact_form_body {
  display: flex;
  flex-wrap: wrap;
}
#why {
  margin-top: 40px;
  margin-left: 30px;
  order: 2;
}
#why li {
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
}
#why li::before {
  content: url(../res/images/arrow/Vector.png);
  display: inline-block;
  transform: rotate(270deg);
}
#why li::marker {
  transform: rotate(270deg);
}
#why ul ul {
  margin: 25px;
}
#why li li {
  font-weight: var(--font-regular);
  font-size: 1.25rem;
  margin-top: 25px;
}
#why li li::before {
  content: url(../res/images/arrow/Vector-1.png);
  display: inline-block;
  transform: rotate(270deg);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-semidark);
}
footer p {
  color: #eedcff;
  font-size: 1.25rem;
}
footer span {
  color: var(--color-primary);
}
footer .socials {
  position: static;
  padding: 10px 3px 5px;
  border-radius: 10px;
  box-shadow: none;
}
